#root {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	text-align: center;
}

:root {
	--main: #1abcfe;
	--main40: #1abcfe40;
}

html,
body {
	-ms-overflow-style: none; /* IE, Edge */
	scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}